
.entry-content {
    ul, ol {
      list-style-position: outside;
      margin: 2em 0 2rem;
      padding: 0;
    }
    ul {
      list-style-type: disc;
    }
    ol {
      list-style-type: decimal;
    }
    li {
      display: list-item;
      list-style-type: circle;
      > {
        ul, ol {
          margin: 1.5rem 0 1.5rem 2rem;
        }
      }
    }
    dt {
      font-weight: 700;
    }
    dd {
      margin: 0 1.5em 1.5em;
    }
    ul:last-child {
      margin-bottom: 0;
    }
}
